.nav-item a {
    color: white;
}

.btn-nav {
    
    background-color: white;
    color: black;
    
}
.bg-dark-tp {
    background-color: rgba(0, 0, 0, 0.5);

}
.bg-cstm-fa {
    background-color: #111827 !important;
}
.bg-cstm-fb {
    background-color: #1F2937 !important;
}
.sw-cap {
    position: absolute;
    bottom: 20px;
    left: 70px;
}
.sw-p {
    position: relative;
}
.st-sh {
    color: #D99904;
}
.bg-img-cstm {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/assets/home/featured.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.img-ft {
    width: 35%;
}
.art-ft {
    width: 35%;
}
.btn-ft {
    color: white;
    border: 0;
    border-bottom: 2px solid white;
}
.btn-ft:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
.review-col {
    color: #CD9003;
}
.nav-logo {
    font-family: Georgia, Times, serif;
    line-height: normal;
}
span {
    font-size: 12px;
    margin-right: 7px;
}
.active-lnk {
    color: #EEFF25 !important;
    text-decoration: none;
    padding: 8px;
    line-height: 40px;
}
.active-lnk button {
    color: #EEFF25;
    background-color: black;
}
.animated {
    text-align: center;
}
.swiper-img {
    width: 92%;
}
.cstm-swiper > div {
    margin: auto 50px;
}
.swiper-pagination {
    position: static;
    margin-top: 20px;
}
.thumb img {
    height: auto !important;
}
.ft-cover {
    font-family: Cinzel, serif;
    font-variant: small-caps;
}
.ft-cover-bg {
    background-image: url('../public/assets/home/chef-service.jpg');
    
    width: 76%;
    padding: 80px;
    margin-top: 60px;
    background-position: 45% 20%;
}
.fake-img {
    width: 115px;
    height: 6vw;
    background-color: #d9d9d9;
    border-radius: 0 50% 50% 50%;
}
.menu-item-h {
    font-family: Cinzel, serif;
    font-weight: 400;
}
.price {
    color: #BB8506;
}
.grid-boxing {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}
.menu-btn {
    border: 0;
    border-bottom: 2px solid;
}
.r-font {
    font-family: Raleway, serif;
    width: 80%;
}
.r-font sub {
    bottom: -2px;
}
.btn-ch {
    background-color: #E8E8E8;
    color: #BB8506;
    border: 0;
    border-bottom: 2px solid #BB8506;
}
.btn-ch:hover {
    background-color: #1F2937;
    color: #BB8506;
    border: 1px solid black;
}
.img-ch {
    height: 240px;
    object-fit: cover;
}
.menu-banner {
    background-image: url('../public/assets/menu/banner3.jpg');
    background-size: cover;
    background-position: center;
    padding: 12% 16% 6%;
    text-transform: uppercase;
    font-family: Cinzel, serif;
}
.menu-txt-b {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10%;
    
}
.menu-txt-b h1 {
    font-size: 60px;
}
.menu-cover-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-bg-p {
    padding: 100px 200px;
}
.nav-tabs {
    justify-content: center;
    border: 0;
}
.nav-tabs a {
    color: black;
}
.nav-tabs .active {
    color: #BB8506 !important;
    border: 0;
    border-bottom: 2px solid #BB8506 !important;
}
.nav-tabs .nav-link:hover {
    border: 0;
}
.nav-tabs .nav-link {
    transition: initial;
}
.tab-content .active {
    display: grid;
    grid-template-columns: auto auto auto;
}
.ct-box-bg {
    background-color: #D1A054;
}
.ct-box-bg + p {
    height: 100px;
}
.btn-contact {
    background: linear-gradient(90deg, #835D23 0%, #B58130 100%);
    color: white;
    border: 1px solid #BB8506;
    border-radius: 0;
}
.btn-contact:hover {
    background-color: transparent;
    background-image: none;
    color: #D1A054;
    border: 1px solid #BB8506;
}
.btn-login {
    background: #D1A054;;
    color: white;
    border: 1px solid #D1A054;;
    border-radius: 0;
}
.btn-login:hover {
    background: white;;
    color: #D1A054;
    border: 1px solid #D1A054;;
    border-radius: 0;
}
.login {
    margin-top: 150px;
    background-image: url('../public/assets/others/authentication.png');
}